
# .editorconfig
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.yml]
indent_size = 2
[*.yaml]
indent_size = 2

[*.json]
indent_size = 2


[*.ps1]
# Pro PS 5.1 lepší detekce UTF-8
charset = utf-8-bom

[*.psm1]
charset = utf-8-bom

[*.psd1]
charset = utf-8-bom

