
# --- LFS pro archivy ---
*.zip filter=lfs diff=lfs merge=lfs -text

# --- Normalizace textu: LF všude ---
*            text=auto eol=lf

# --- Výslovné nastavení pro PS a další texty (duplicitně nevadí, je to čitelné) ---
*.ps1        text eol=lf
*.psm1       text eol=lf
*.psd1       text eol=lf
*.md         text eol=lf
*.csv        text eol=lf
*.ini        text eol=lf
